<p>Welcome to Liberty Bell Property Management , one of Philadelphia’s most respected real estate management firms.<p>

<p>Liberty Bell has continued to offer high quality, professional and personal services to a select and satisfied group of real estate investors. This family-oriented company has developed a proven, hands-on approach to management that is unparalleled in the industry.</p>