<div class="row">
  <div class="large-12 hide-for-small">
    <div id="featured" data-orbit>
      <img src="http://placehold.it/1200x500&text=Slide Image 1" alt="slide image">
      <img src="http://placehold.it/1200x500&text=Slide Image 2" alt="slide image">
      <img src="http://placehold.it/1200x500&text=Slide Image 3" alt="slide image">
    </div>
  </div>

<hr>


<div class="text-center">
  <h2>Welcome to Liberty Bell Property Management.</h2>
  <p>A proven, hands-on approach to management that is unparalleled in the industry. It’s your Liberty to protect your home and maximize your investment.</p>
  <div class="row">
    <div class="medium-4 columns">
      <%=link_to image_tag("map.png"), building_path%>
      <h3>Map of Properties</h3>
    </div>
    <div class="medium-4 columns">
      <%=link_to image_tag("street.png"), plan_path%>
      <h3>Philly Neighborhood</h3>
    </div>
    <div class="medium-4 columns">
      <%=link_to image_tag("hands.png"), contact_path%>
      <h3>Get in Touch</h3>
    </div>
  </div>
</div>

<hr>

<div class="large-6 columns">
<p>Welcome to Liberty Bell Property Management , one of Philadelphia’s most respected real estate management firms. Liberty Bell offers a full range of essential services and personnel for effective and efficient property management to better serve your property management needs. We manage both Residential and Commercial properties.</p>
</div>
<div class="large-6 columns">
<p>We utilize proprietary systems to manage the entire process to ensure the highest probability of success in all facets of managing your residential or commercial property. Clients appreciate Liberty Bell Property Management’s concentration because it translates to better care and more attention to their investments.</p>
</div>
</div>




</div>