<div class="row">
<div class="large-12 columns">
<h1>Rental Forms</h1>
<p class="subheader">Click on the button below to download our rental application. We hope to hear from you!</p>
<%= link_to asset_path("2014-LB-Rental-Application.pdf"), :class => "button large" do %> Download Now <% end %>
</div>
</div>